html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    
}


html, body {
    width: 100%;
    min-width: 200px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #fffffff1;
    color: #2c2c2c;
    font-family: 'Quicksand';
}




/* banner section */
#policybanner {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
}

#polbanner {
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/workspace.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link:hover {
    color: rgb(255, 132, 0) !important;
    cursor: pointer;
  }

  #gammapps-logo {
    color: rgb(255, 132, 0);
    font-weight: 600; 
  }


/* footer Section */

.copyright a {
    color:rgb(255, 132, 0);
    text-decoration: none;
}

footer {
    background-color:#2c2c2c;
    color: white;
    padding: 0 2rem 0 2rem;
}


#footersection {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

@media only screen and (max-width:620px) {
    footer{
        font-size: 14px;
        
    }
}

@media only screen and (max-width:400px) {
    footer{
        font-size: 10px;
        padding: 0 1rem 0 1rem;
    }
    #footersection {
        padding: 1rem 0;
    }
}


/* main */

.titles {
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.subtitles {
    padding-top: 3rem;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color:rgb(255, 132, 0)
}
 
.part {
    font-size: 1rem;
    color:rgb(95, 95, 95);
}


.highlight {
    color: rgb(255, 132, 0);
    font-weight: bold;
}

#cookie-section, #privacy-policy, #terms-uses {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 3rem

    }


/* divider */
.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-arrow-down-pricing:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: #efefef;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.divider
{
	position: relative;
	margin-bottom: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}