@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/coffeelp1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: finite;
  animation-duration: 0.8s;
  animation-play-state: paused;
    
}

@keyframes finite {
  0% {
      opacity: 1;
      
  }
  100% {
      opacity: 0;
  }
}

#intro p {
  margin: 0em 5em 0 5em;
  text-align: left;
  line-height: 1.8;
  font-family: Lora, serif;
  font-size: larger;
}
#intro h1 {
  text-align: left;
  line-height: 1.8;
  font-family: Lora, serif;
  font-size: 3rem;
}
.glowIn {
  color: white;
}
.glowIn span {
  animation: glow-in 0.1s both;
}
@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

@media only screen and (max-width:450px) {
  #intro {
    
      font-size: 0.8rem;
  }
}

@media only screen and (max-width:280px) {
  #glowinpfr, #glowintitlefr {
    
    display: none;
  }
}