html {
    font-size: 16px;
}

html, body {
    width: 100%;
    min-width: 200px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #fffffff1;
    color: #2c2c2c;
    font-family: 'Quicksand';
}

#contacth2, #aboutmeh2, #portfolioh2 {
    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
}

h2 {
    padding-bottom: 2rem;
}

main {
    animation-name: appear;
    animation-duration: 1s;
    animation-play-state: paused;
}

@keyframes appear {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
  }

@media only screen and (max-width: 750px) {
    #contacth2, #aboutmeh2, #portfolioh2 {
        padding-bottom: 2rem;
        text-align: center;
    }
}



/* HEADER Section */


header {
    background-color: transparent;
    width: 100%;
    
}


header h1 {
    top: 5rem;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}



header .content {
    display: flexbox;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
   
}

.nav-link:hover {
    cursor: pointer;
}

#navbarmobile {
    display: none;

}

.mobilebutton {
    background-color: transparent;
    border: none;
    color: white;
}

#navbarhome {
    text-shadow: 1px 1px 2px black;
    
}

header .content nav {
    display: flex;
    font-size: 1.2rem;
}

.nav-item {
    padding-left: 1rem;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    justify-content: center;
  
}

#mobiletitle {
    display: none;
}

header .content h1 {   
    font-size: 4rem;
    text-shadow: 1px 1px 2px #2c2c2c;
    font-family: 'Poiret One';  
    margin-bottom: 2rem;
    flex: 1 1 100%;
}

header .content a {
    text-decoration: none;
    color: white;
}

.banner {
    width: 100%;
    height: 30rem;
    background-image: url('./images/background1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


@media only screen and (max-width: 750px) {
    .banner {
        height: 25rem;
    }
  }


@media only screen and (max-width: 750px) {
    #navbarhome {
        display: none;
    }

    #navbarmobile {
        display: flex;
        justify-content: space-evenly;
        color: white;
        padding: 0.5rem 1rem;
        width: 100%;
      }
    
    
    #navbarmobile ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 0;
        list-style-type: none;
      }
    
    #navbarmobile li {
        padding: 0 1rem;
        margin: 0;
    }

}

@media only screen and (max-width: 600px) {
    #title {
        display: none;
    }

    #mobiletitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 8rem;
        justify-content: center;
    } 
  }

@media only screen and (max-width: 470px) {

    #navbarmobile {
        font-size: 1rem;
      }

    header .content h1 {   
        font-size: 3rem;    
    }

    .banner {
        height: 20rem;
    }
}

@media only screen and (max-width: 300px) {

    #navbarmobile {
        padding: 0;
        font-size: 0.7rem;
      }

    #navbarmobile li {
        padding: 0;
        margin: 0;
    }
}


/* portfolioS Section */

#portfolio-section {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: center;
    margin-bottom: 4rem;
    padding: 0 1rem;
}


.portfolio {
    background-color: rgba(41, 41, 41, 0.925);
    color: white;
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 5rem;
    
}

.portfolio .content {
    margin-top: auto;
}

.portfolio .image-container {
    padding-bottom: 2rem;
    height: 15rem;
    width: 20rem;
}

.portfolio .image-container img {
    overflow: hidden;
    max-height: 15rem;
    max-width: 20rem;
    border-radius: 4rem;
}

@media only screen and (max-width: 350px) {
    .portfolio .image-container img {
        display: none;
    }

    #portfolio-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .portfolio {
        display: flex;
        width: 100%;
        flex: 1 1;
        padding: 2rem;
        margin: 1.5rem;
        border-radius: 5rem;
        min-width: 200px;
    }

}


/* quote Section */

#quotes-section {
    display: flex;
    flex: 1 2 100%;
    padding: 2rem 6rem;
    justify-items: center;
    background-color: rgb(68, 68, 68);
    color: white;
    align-items: center;
    text-align: center;
}

#quotes-section .quote {
    justify-content: center;
    font-family: 'Dancing Script';
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    #quotes-section .quote {
        font-size: 1.5rem;
    }

    #quotes-section {
        padding: 1rem 3rem;
    }
}


/* aboutme Section */

#aboutme-section {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding: 0 2rem;
    align-items: center;
    animation-name: appear;
    animation-duration: 1s;
    animation-play-state: paused;
}

#aboutcontent {   
    flex: 1 1 40rem;

}

#imgdubai {
    max-width: 25rem;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 2rem;
}


.aboutme {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    height: auto;
}


.aboutme button {
    margin-top: auto;
}

/* skills */

#skills-section {
    width: 40%;
    min-width: 590px;
    text-align: center;
    padding-top: 4rem;
    margin: 3rem auto;
}

#skillsbox {
    width: 100%;
    padding: 30px 30px 50px;
    border-radius: 10px;
}

/* bars design */

.details {
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border: 1px solid #eb7100;
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: 0;
    height: 10px;
    border-radius: 10px;
    background-color: #eb7100;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

/* filling bars */

.active #html-bar {
    animation: html-fill 5s forwards;
}

@keyframes html-fill{
    100%{
        width: 90%;
    }
}

.active #css-bar {
    animation: css-fill 5s forwards;
}

@keyframes css-fill{
    100%{
        width: 70%;
    }
}

.active #php-bar {
    animation: php-fill 5s forwards;
}

@keyframes php-fill{
    100%{
        width: 50%;
    }
}

.active #javascript-bar {
    animation: javascript-fill 5s forwards;
}

@keyframes javascript-fill{
    100%{
        width: 70%;
    }
}

.active #python-bar {
    animation: py-fill 5s forwards;
}

@keyframes py-fill{
    100%{
        width: 80%;
    }
}

.active #c-bar {
    animation: c-fill 5s forwards;
}

@keyframes c-fill{
    100%{
        width: 85%;
    }
}


@media only screen and (max-width:700px) {
    .aboutme {
        border-radius: 4rem;
    }
}


@media only screen and (max-width:590px) {
    #skills-section {
        min-width: 400px;
    }
}

@media only screen and (max-width:430px) {
    #imgdubai {
        max-width: 20rem;
    }
}

@media only screen and (max-width:400px) {
    #skills-section {
        min-width: 300px;
    }
}

@media only screen and (max-width:340px) {
    #imgdubai {
        max-width: 15rem;
    }
}

@media only screen and (max-width:300px) {
    #skills-section {
        min-width: 200px;
    }
}

@media only screen and (max-width:260px) {
    #imgdubai {
        max-width: 10rem;
    }
}


/* contact section */
#contact-section {
    display: flex;
    text-align: center;
    padding-bottom: 5rem;
}

#logofb {
    width: 3rem;
    height: auto;
}

#contactdiv {    
    animation-name: appear;
    animation-duration: 1s;
    animation-play-state: paused;
}

/* footer Section */

footer {
    background-color: #e0e0e0d3;
}


#footersection {
    display: flex;
    flex: 0 1 100%;
    justify-items: center;
    justify-content: center;
    padding: 2rem 0;
}

@media only screen and (max-width:400px) {
    #footersection {
        padding: 2rem 3rem;
    }
}



